
/* for resopnsive */


/* navbar section */
#navigation{
    height: 100%;
    font-size: 40px;
}

.logo{
    font-size: 22px;
}

#navigation ul li{
    font-size: 25px;
    padding: 40px 15px;
}

#bar{
     display: none;
    background-color: rgb(68, 66, 66);
    height: 55px;
    width: 45px;
    position: fixed;
    top: 30px;
    left: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(105, 104, 104);
    border-radius: 6px;
    margin-left: 10px;
}

.rectangle{
    background-color: orangered;
    height: 5px;
    width: 20px;
    margin: 5px;
}


/* profile section */
#profile{
    flex-wrap: wrap;
    width: 500px;
}

#profile::before{
    height: 1430px;
    width: 985px;
}

#profile h1 span{
    font-size: 50px;
}

/* about section */
#about{
    flex-wrap: wrap;
    width: 500px;
}


/* my skill section */
#skill{
    flex-wrap: wrap;
    width: 500px;
}

#skill::before{
    height: 1730px;
    width: 985px;
}

/* project section */
#project{
    flex-wrap: wrap;
    width: 500px;
}

/* contact section */
#contact{
    flex-wrap: wrap;
    width: 500px;
}

#contact::before{
    height: 1290px;
    width: 985px;
}

#contact form{
    width: 400px;
}


/* utility */
.h-primary{
    font-size: 100px;
}
.h-secondary{
    font-size: 30px;
    
}
#profile h1 span{
    font-size: 130px;
}
    








