
/* for resopnsive */


/* navbar section */
#navigation{
    height: 100%;
    font-size: 40px;
}

#navigation ul li{
    /* font-size: 25px; */
    padding: 40px 15px;
    margin: 15px;

}

#bar{
    display: none;
   background-color: rgb(68, 66, 66);
   height: 55px;
   width: 45px;
   position: fixed;
   top: 30px;
   left: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px solid rgb(105, 104, 104);
   border-radius: 6px;
   margin-left: 10px;
}

.rectangle{
   background-color: orangered;
   height: 5px;
   width: 20px;
   margin: 5px;
}


/* profile section */

#profile::before{
    height: 1428px;
    width: 985px;

}

/* about section */


/* my skill section */

#skill::before{
    height: 100%;
    width: 985px;
}

/* project section */
#project{
    flex-wrap: wrap;
}


/* contact section */


#contact::before{
    height: 100%;
    width: 985px;
}
#contact form{
    width: 400px;
}



/* utility */
.h-primary{
    font-size: 100px;
    width: 600px;

}
.h-secondary{
    font-size: 30px;
    width: 643px;

}
#profile h1 span{
    font-size: 120px;
}
