@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(26, 24, 24);
}



/* navigation bar  */
#navigation{
    background-color: rgb(14, 13, 13);
    height: 100%;
    width: 135px;
    /* padding: 10px; */
    position: fixed;
    display: flex;
    text-align: left;
    justify-content: left;
    flex-direction: column;
}

.logo{
    font-size: 19px; 
    font-family: 'Ubuntu', sans-serif;
    padding: 60px 25px;
    color: white;
    border-bottom: 3px solid rgb(26, 24, 24);
    background-color: black;
}

.logo span{
    color: orangered;
    text-decoration: underline;
}

#navigation ul li{
    list-style: none;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 20px;
    border-bottom: 3px solid rgb(26, 24, 24);
}

#navigation ul li a{
    color: rgb(179, 174, 169);
}

#navigation ul li a:hover{
    color: orangered;
}

.menu a{
    margin: 8px;
    color: rgb(179, 174, 169);
}

.menu a:hover{
    color: orangered;
}


/* Profile section */
#profile{
    margin-left: 230px;
    margin-bottom: 100px;
    display: flex;
    /* position: absolute; */
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

#profile span:hover{
    color: orangered;
}

#profile::before{
    content: "";
    background: url('../img/work.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.090;
}

#profile h1{
    color: white;
    font-size: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;    
}

/* #profile p{
    color: rgb(179, 174, 169);
    padding: 5px;
    font-size: 16px;
} */

#btn{
    width: 220px;
    padding: 5px 36px;
    margin: 5px;
    font-size: 15px;
    background-color: rgb(31, 29, 29);
    color:  orangered;
    border: 1px solid  orangered;
    cursor: pointer;
}

#btn:hover{
    background-color: orangered;
    color: black;
}

#yoyo p a{
    color: orangered;
    padding-left: 8px;
}

#hide{
    margin-left: 46px;
    display: none;
}



/* about ko section */
#about{
    margin: 190px 100px 190px 230px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

.cv{
    margin: 12px;
    color: rgb(179, 174, 169);
}


/* skills section */


#skill{
    margin: 110px 100px 110px 230px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

#skill::before{
    content: "";
    background:url('../img/skills.jpeg') no-repeat center center/cover;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.090;
}

.percentage p{
    color: red;
}

.box{
    display: flex;
    align-items: center;
    height: 20px;
    color: white;
    background-color: orangered;
    margin: 13px;
    font-size: 13px;
    border-radius: 12px;
    padding-left: 5px;
    
}
#html{
    width: 500px;
}

#css{
    width: 415px;
}

#js{
    width: 280px;
}

#c{
    width: 415px;
}


/* Project Section */

#project{
    margin: 200px 100px 280px 230px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}


/* contact section */


#contact{
    margin: 110px 100px 110px 230px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

#contact::before{
    content: "";
    position: absolute;
    height: 153%;
    width: 100%;
    z-index: -1;
    opacity: 0.090;
    left: 0px;
    background: url('../img/contact-us.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 34px;
    color: white;
    margin-top: 50px;
    margin-left: 15px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
.buttom{
    margin: 20px;
    
}

.buttom1{
    padding: 3px;
    margin-right: 10px;
    color: bisque;
    background-color: orangered;
    cursor: pointer;
    width: 120px;
}

.buttom1:hover{
    color: bisque;
    background-color: red;
    text-decoration: underline;
}




/* Utility Class= use for multiple purpose class */
.h-primary{
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    color: orangered;
    margin-bottom: 50px;
}
.h-secondary{
    font-family: 'Poppins', sans-serif;
    color: rgb(179, 174, 169);
    margin-left: 10px;
}
.circle1{
    background-color: orangered;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px 15px;
}
.anker{
    color: orangered;
}
.anker:hover{
    color: red;
    text-decoration: underline;
}
.circle2{
    background-color: orangered;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 15px;
}
.circle3{
    background-color: orangered;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 15px;
}
.center{
    text-align: center;
}
